# yaml-language-server: $schema=https://json.schemastore.org/semantic-release.json
branches:
  - main # default branch
  - name: beta
    channel: beta
    prerelease: true
plugins:
  # reads "fix:"/"feat:" commits
  - "@semantic-release/commit-analyzer"
  # generates release notes
  - "@semantic-release/release-notes-generator"
  # generates CHANGELOG.md
  - "@semantic-release/changelog"
  # runs a script
  - - "@semantic-release/exec"
    - prepareCmd: bin/release.sh ${nextRelease.version}
      verifyReleaseCmd: bin/verify.sh ${nextRelease.version}
  # makes a commit with generated release assets
  - - "@semantic-release/git"
    - assets:
        - CHANGELOG.md
        - VERSION
        - pkg/apis/data.act3-ace.io/jsonschema/data.act3-ace.io.schema.json
      message: "chore(release): ${nextRelease.version}  \n\n${nextRelease.notes}"
